@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gicswj');
  src:  url('fonts/icomoon.eot?gicswj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gicswj') format('truetype'),
    url('fonts/icomoon.woff?gicswj') format('woff'),
    url('fonts/icomoon.svg?gicswj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 0.5rem;
  /*color: #AAA;*/

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-envelope:before {
  content: "\e902";
}
.icon-users:before {
  content: "\e903";
}
.icon-location:before {
  content: "\e904";
}
.icon-heart:before {
  content: "\e905";
}
.icon-browser:before {
  content: "\e906";
}

